<div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          Login Form
        </mat-card-subtitle>
      </mat-card-header>
        <form [formGroup]="userGroup" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Enter your username</mat-label>
                <input matInput placeholder="username" required formControlName="username">
              </mat-form-field>
              <br>
              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="password" required formControlName="password">
              </mat-form-field>
              <br>
              <button mat-raised-button  type="submit" color="primary">Login</button>
            </form>
    </mat-card>
</div>